<!DOCTYPE html>
<html lang="bg-BG">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Важни връзки</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        p.cvqt {
            color: orange;
            font-size: larger;
        }

        a.cvqt {
            color: orange;
            font-size: 20px;
            text-decoration: none;
        }
    </style>
</head>
<body style="color:gray">
    <div class="well" style="padding:5px;">
        <div class="daskalo">
            <div class="">
                <div class="container">
                    <div>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink(" ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="header-right">
                        <ul class="list-inline" style="margin-top:20px;">
                            <li class="collapse navbar" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        @Html.ActionLink("Начало", "Index", "Home", null, new { @class = "dropdown-toggle buttons" })
                                    </li>
                                </ul>
                            </li>
                            <li class="collapse navbar" id="bs-example-navbar-collapse-1" style="background: none; border: none; outline: none;">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        @Html.ActionLink("За нас", "About", "Home", null, new { @class = "dropdown-toggle buttons" })
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("История и традиции", "IstoriaTradicii", "ZaNas", null, new { @class = "" })</li>
                                            <li class="divider"></li>
                                            <li>@Html.ActionLink("Педагогически екип", "PedagogicheskiEkip", "ZaNas", null, new { @class = "" })</li>
                                            <li class="divider"></li>
                                            <li>@Html.ActionLink("Училищна среда", "UchilishtnaSreda", "ZaNas", null, new { @class = "" })</li>
                                            <li class="divider"></li>
                                            <li>@Html.ActionLink("Профил на купувача и други документи", "Profil", "ZaNas", null, new { @class = "" })</li>
                                            <li class="divider"></li>
                                            <li>@Html.ActionLink("Електронен дневник", "ElektronenDnevnik", "ZaNas", null, new { @class = "" })</li>
                                            <li class="divider"></li>
                                            <li>@Html.ActionLink("Училищен живот", "UchilishtenJivot", "ZaNas", null, new { @class = "" })</li>
                                            <li class="divider"></li>
                                            <li>@Html.ActionLink("Наши специални гости", "SpecialniGosti", "ZaNas", null, new { @class = "" })</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="collapse navbar" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        @Html.ActionLink("Прием", "Index", "Priem", null, new { @class = "dropdown-toggle buttons" })
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("В подготвителна група", "PodgotvitelnaGrupa", "Priem", null, new { @class = "" })</li>
                                            <li class="divider"></li>
                                            <li>@Html.ActionLink("В първи клас", "PyrviKlas", "Priem", null, new { @class = "" })</li>
                                            <li class="divider"></li>
                                            <li>@Html.ActionLink("В пети клас", "PetiKlas", "Priem", null, new { @class = "" })</li>
                                            <li class="divider"></li>
                                            <li>@Html.ActionLink("След завършен VII клас", "Sled7miKlas", "Priem", null, new { @class = "" })</li>
                                            <li class="divider"></li>
                                            <li>@Html.ActionLink("След завършен VIII клас", "Sled8miKlas", "Priem", null, new { @class = "" })</li>
                                            @*<li class="divider"></li>*@

                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="collapse navbar" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        @Html.ActionLink("Проекти", "Index", "Project", null, new { @class = "dropdown-toggle buttons" })
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("УСПЕХ", "Uspeh", "Project", null)</li>
                                            <li class="divider"></li>
                                            <li>@Html.ActionLink("TEA GLOBAL 2013", "TeaGlobal", "Project", null, new { @class = "" })</li>
                                            <li class="divider"></li>
                                            <li>@Html.ActionLink("TALIS", "Talis", "Project", null, new { @class = "" })</li>
                                            <li class="divider"></li>
                                            <li>@Html.ActionLink("Фортисимо клас", "FortisimoKlas", "Project", null, new { @class = "" })</li>
                                            <li class="divider"></li>
                                            <li>@Html.ActionLink("Целодневно обучение", "CelodnevnoObuchenie", "Project", null, new { @class = "" })</li>
                                            <li class="divider"></li>
                                            <li>@Html.ActionLink("Научи се да караш ски", "Ski", "Project", null, new { @class = "" })</li>
                                            <li class="divider"></li>
                                            <li>@Html.ActionLink("Млад велосипедист", "MladVelosipedist", "Project", null, new { @class = "" })</li>
                                            <li class="divider"></li>
                                            <li>@Html.ActionLink("Ученически евроклуб", "UchenicheskiEvroKlub", "Project", null, new { @class = "" })</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <script>
            $('ul.nav li.dropdown').hover(function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(100).fadeIn(50);
            }, function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(100).fadeOut(50);
            });
                </script>
            </div>
            <!-- Page Heading Start -->

            <div id="page-heading" style="position:center; width:auto;">
                <h3 class="heading-text">
                   Важни връзки
                </h3>
            </div>
            <!-- Page Heading End -->
            <!-- Main Content Start -->

            <div class="maincontent" style="margin-left:20px; height:2000px">
                <table width="100%" border="0" cellspacing="0" cellpadding="5">
                    <tbody>
                        <tr>
                            <td><a href="http://www.government.bg/" target="_blank"><img alt="" src="http://www.rio-sofia-grad.com/web_folders/resource_files/images/msBg.jpg" width="75" height="60" border="0"></a></td>
                            <td valign="bottom"><a href="http://www.government.bg/" target="_blank">Република България, Министерски съвет</a></td>
                        </tr>
                        <tr>
                            <td><a href="http://www.mon.bg/" target="_blank"><img alt="" src="http://www.rio-sofia-grad.com/web_folders/resource_files/images/monBg.jpg" width="75" height="60" border="0"></a></td>
                            <td valign="bottom"><a href="http://www.mon.bg/" target="_blank">Министерство на образованието, младежта и науката </a></td>
                        </tr>
                        <tr>
                            <td><a href="http://www.mvr.bg/" target="_blank"><img alt="" src="http://www.rio-sofia-grad.com/web_folders/resource_files/images/mvrBg.jpg" width="75" height="60" border="0"></a></td>
                            <td valign="bottom"><a href="http://www.mvr.bg/" target="_blank">Министерство на вътрешните работи</a></td>
                        </tr>
                        <tr>
                            <td><a href="http://www.mlsp.government.bg/bg/index.asp" target="_blank"><img alt="" src="http://www.rio-sofia-grad.com/web_folders/resource_files/images/mtspBg.jpg" width="75" height="60" border="0"></a></td>
                            <td valign="bottom"><a href="http://www.mlsp.government.bg/bg/index.asp" target="_blank">Министерство на труда и социалната политика</a></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td valign="bottom"></td>
                        </tr>
                        <tr>
                            <td><a href="http://www.youthsport.bg/cgi-bin/s.cgi" target="_blank"><img alt="" src="http://www.rio-sofia-grad.com/web_folders/resource_files/images/fizBg.jpg" width="75" height="60" border="0"></a></td>
                            <td valign="bottom"><a href="http://mpes.government.bg/" target="_blank">Министерство на физическото възпитание и спорта</a></td>
                        </tr>
                        <tr>
                            <td><a href="http://www.europe.bg/htmls/page.php?id=1402&amp;category=235" target="_blank"><img alt="" src="http://www.rio-sofia-grad.com/web_folders/resource_files/images/seport.jpg" width="75" height="60" border="0"></a></td>
                            <td valign="bottom"><a href="http://www.europe.bg/htmls/page.php?id=1402&amp;category=235" target="_blank">Портал на Съвета на Европа</a></td>
                        </tr>
                        <tr>
                            <td><a href="http://ec.europa.eu/bulgaria/index_bg.htm" target="_blank"><img alt="" src="http://www.rio-sofia-grad.com/web_folders/resource_files/images/ekd.jpg" width="75" height="60" border="0"></a></td>
                            <td valign="bottom">
                                <a href="http://ec.europa.eu/bulgaria/index_bg.htm" target="_blank">Делегация на Европейската комисия</a>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="http://www.sofia.bg/" target="_blank"><img alt="" src="http://www.rio-sofia-grad.com/web_folders/resource_files/images/sso.jpg" width="75" height="60" border="0"></a></td>
                            <td valign="bottom"><a href="http://www.sofia.bg/" target="_blank">Столична община</a></td>
                        </tr>
                        <tr>
                            <td><a href="http://www.srsnpb.hit.bg/" target="_blank"><img alt="" src="http://www.rio-sofia-grad.com/web_folders/resource_files/images/srBg.jpg" width="75" height="60" border="0"></a></td>
                            <td valign="bottom"><a href="http://www.srsnpb.hit.bg/" target="_blank"> Съюз на работодателите в системата на народната просвета в България</a></td>
                        </tr>
                        <tr>
                            <td><a href="http://www.sbubg.info/sbubg.php?page=1" target="_blank"><img alt="" src="http://www.rio-sofia-grad.com/web_folders/resource_files/images/sbu.jpg" width="75" height="60" border="0"></a></td>
                            <td valign="bottom"><a href="http://www.sbubg.info/sbubg.php?page=1" target="_blank">Синдикат на българските учители</a></td>
                        </tr>
                        <tr>
                            <td><a href="http://www.podkrepa.org/content/" target="_blank"><img alt="" src="http://www.rio-sofia-grad.com/web_folders/resource_files/images/podkr.jpg" width="75" height="60" border="0"></a></td>
                            <td valign="bottom">
                                <a href="http://www.podkrepa.org/content/" target="_blank">Конфедерация на труда подкрепа</a>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="http://www.bachu.dir.bg/" target="_blank"><img alt="" src="http://www.rio-sofia-grad.com/web_folders/resource_files/images/bachu.jpg" width="75" height="60" border="0"></a></td>
                            <td valign="bottom">
                                <a href="http://www.bachu-bg.com/" target="_top">Българската асоциация на частните училища (БАЧУ)</a>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="http://www.historymuseum.org/" target="_blank"><img alt="" src="http://www.rio-sofia-grad.com/web_folders/resource_files/images/nim.jpg" width="75" height="60" border="0"></a></td>
                            <td valign="bottom"><a href="http://www.historymuseum.org/" target="_blank">Национален исторически музей</a></td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" border="0" cellspacing="0" cellpadding="5">
                    <tbody>
                        <tr>
                            <td width="18%"></td>
                            <td width="82%"></td>
                        </tr>
                        <tr>
                            <td><a href="http://www.sacp.government.bg/" target="_blank"><img alt="" src="http://www.rio-sofia-grad.com/web_folders/resource_files/images/dazdBg.jpg" width="75" height="60" border="0"></a></td>
                            <td valign="bottom"><a href="http://www.sacp.government.bg/" target="_blank">Държавна агенция за закрила на детето</a></td>
                        </tr>
                        <tr>
                            <td><a href="http://www.rio-sofia-grad.com/web_folders/resource_files/www.asp.government.bg" target="_blank"><img alt="" src="http://www.rio-sofia-grad.com/web_folders/resource_files/images/asp.jpg" width="75" height="60" border="0"></a></td>
                            <td valign="bottom"><a href="http://www.asp.government.bg/ASP_Client/jsp/main.jsp" target="_blank">Агенция за социално подпомагане</a></td>
                        </tr>
                        <tr>
                            <td><a href="http://www.rio-sofia-grad.com/web_folders/resource_files/sgr.hit.bg/slujbi.html" target="_blank"><img alt="" src="http://www.rio-sofia-grad.com/web_folders/resource_files/images/asp2.jpg" width="75" height="60" border="0"></a></td>
                            <td valign="bottom"><a href="http://www.pomosti.oneinform.com/slujbi.html" target="_blank">Дирекции „Социално подпомагане“ – София , Пълен списък на всички дирекции</a></td>
                        </tr>
                        <tr>
                            <td><a href="http://coiduem.mon.bg/" target="_blank"><img alt="" src="http://www.rio-sofia-grad.com/web_folders/resource_files/images/zakr_darbi.jpg" width="75" height="60" border="0"></a></td>
                            <td valign="bottom"><a href="http://coiduem.mon.bg/" target="_blank">Център за образователна интеграция на децата и учениците от етническите малцинства</a></td>
                        </tr>
                        <tr>
                            <td><a href="http://mc.government.bg/page.php?p=58&amp;s=81&amp;sp=21&amp;t=23&amp;z=0" target="_blank"><img alt="" src="http://www.rio-sofia-grad.com/web_folders/resource_files/images/zakr_darbi.jpg" width="75" height="60" border="0"></a></td>
                            <td valign="bottom">
                                <a href="http://mc.government.bg/page.php?p=58&amp;s=81&amp;sp=21&amp;t=23&amp;z=0" target="_blank">
                                    Министерство на културата<br>
                                    Програма за закрила на деца с изявени дарби
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td><img alt="" src="http://www.rio-sofia-grad.com/web_folders/resource_files/images/obrport.jpg" width="75" height="60"></td>
                            <td valign="bottom"><a href="http://start.e-edu.bg/" target="_blank">Национален образователен портал</a></td>
                        </tr>
                        <tr>
                            <td><a href="http://www.navet.government.bg/" target="_blank"><img alt="" src="http://www.rio-sofia-grad.com/web_folders/resource_files/images/napoo.jpg" width="75" height="60" border="0"></a></td>
                            <td valign="bottom"><a href="http://www.navet.government.bg/" target="_blank">Национална агенция за професионално образование и обучение</a></td>
                        </tr>
                        <tr>
                            <td><a href="http://www.niod.bg/" target="_blank"><img alt="" src="http://www.rio-sofia-grad.com/web_folders/resource_files/images/niod.jpg" width="75" height="60" border="0"></a></td>
                            <td valign="bottom"><a href="http://www.niod.bg/" target="_blank">Национален институт за обучение и квалификация в системата на образованието</a></td>
                        </tr>
                        <tr>
                            <td><a href="http://www.diuu.bg/" target="_blank"><img alt="" src="http://www.rio-sofia-grad.com/web_folders/resource_files/images/diuu.jpg" width="75" height="60" border="0"></a></td>
                            <td valign="bottom"><a href="http://www.diuu.bg/" target="_blank">Департамент за информация и усъвършенстване на учители</a></td>
                        </tr>
                        <tr>
                            <td><a href="http://www.adminpro-bg.com/" target="_blank"><img alt="" src="http://www.rio-sofia-grad.com/web_folders/resource_files/images/admin.jpg" width="75" height="60" border="0"></a></td>
                            <td valign="bottom"><a href="http://www.adminpro-bg.com/" target="_blank">Админ Софт</a></td>
                        </tr>
                        <tr>
                            <td><a href="http://www.hrdc.bg/" target="_blank"><img alt="" src="http://www.rio-sofia-grad.com/web_folders/resource_files/images/ncid.jpg" width="75" height="60" border="0"></a></td>
                            <td valign="bottom"><a href="http://www.hrdc.bg/" target="_blank">Център за развитие на човешките ресурси</a></td>
                        </tr>
                        <tr>
                            <td><a href="http://mail.nacid.bg/newdesign/bg/" target="_blank"><img alt="" src="http://www.rio-sofia-grad.com/web_folders/resource_files/images/ckoko.jpg" width="75" height="60" border="0"></a></td>
                            <td valign="bottom"><a href="http://mail.nacid.bg/newdesign/bg/" target="_blank">Национален център за информация и документация (НАЦИД)</a></td>
                        </tr>
                        <tr>
                            <td><a href="http://www.ckoko.bg/" target="_blank"><img alt="" src="http://www.rio-sofia-grad.com/web_folders/resource_files/images/ckoko.jpg" width="75" height="60" border="0"></a></td>
                            <td valign="bottom"><a href="http://www.ckoko.bg/" target="_blank">Център за контрол и оценка на качеството на училищното образование (ЦКОКО)</a></td>
                        </tr>
                        <tr>
                            <td><a href="http://www.zamaturite.bg/" target="_blank"><img alt="" src="http://www.rio-sofia-grad.com/web_folders/resource_files/images/zadzi.jpg" width="75" height="60" border="0"></a></td>
                            <td valign="bottom"><a href="http://www.zamaturite.bg/" target="_blank">Всичко за матурите на адрес: http://www.zamaturite.bg/</a></td>
                        </tr>
                    </tbody>
                </table>

                 
            </div>
            <!-- Main Content End -->
            <!-- Side Content Start -->
            <div class="sidebarwe">
                <div class="sidebar">
                    <div class="sidebartop"></div><div class="sidebarmain">
                        <div id="recent-posts-4" class="sidebarcontent widget_recent_entries">
                            <h4 class="sidebarheading">Последни новини</h4><hr>
                            <ul style="list-style: none; font-size:smaller;">
                                <li class="actionLink">
                                    @Html.ActionLink("Ученици от 128 СОУ „Алберт Айнщайн” печелят медал на състезание за есе на английски език в Дубай (видео)", "EseAngliiskiEzikDubai", "PosledniNovini", null, new { @class = "actionLinks" }) &gt;
                                </li>
                                <hr class="sidebar-divider">
                                <li class="actionLink">
                                    @Html.ActionLink("Заедно можем повече", "ZaednoMojemPoveche", "PosledniNovini", null, new { @class = "actionLinks" }) &gt;
                                </li>
                                <hr class="sidebar-divider">
                                <li class="actionLink">
                                    @Html.ActionLink("Цялостно обновяване на класните стаи и учебни кабинети", "KlasniStaiObnovqvane", "PosledniNovini", null, new { @class = "actionLinks" }) &gt;
                                </li>
                                <hr class="sidebar-divider">
                                <li class="actionLink">
                                    @Html.ActionLink("Златен медал в училището!", "ZlatenMedal", "PosledniNovini", null, new { @class = "actionLinks" }) &gt;
                                </li>
                                <hr class="sidebar-divider">
                                <li class="actionLink">
                                    @Html.ActionLink("Обръщение на г-н Юлиян Плачков, директор на 128 СОУ „Алберт Айнщайн“, по случай началото на учебната 2013/2014 г.", "ObryshtenieNaGnPlachkov", "PosledniNovini", null, new { @class = "actionLinks" }) &gt;
                                </li>
                                <hr class="sidebar-divider">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side Content End-->
        </div>
        <hr />
    </div>
    <div class="well-footer ">
        <div id="footer">
            <div class="clear"></div>

            <div>
                <!-- Footer Menu -->
                <div class="footermenu">
                    <ul id="menu-footer" class="">
                        <li id="menu-item-128" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-128">@Html.ActionLink("За зрелостници", "ZaZrelostnici", "Other", null, new { })</li>
                        <li id="menu-item-129" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-129">@Html.ActionLink("Важни връзки", "VajniVryzki", "Other", null, new { })</li>
                        <li id="menu-item-130" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-130">@Html.ActionLink("Актуално", "Aktualno", "Other", null, new { })</li>
                        <li id="menu-item-132" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-132">@Html.ActionLink("Галерия", "Galeriq", "Other", null, new { })</li>
                        <li id="menu-item-131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-131">@Html.ActionLink("Контакти", "Kontakti", "Other", null, new { })</li>
                    </ul>
                </div>
                <!-- Footer Menu End -->
                <!-- Site Copyright -->
                <div class="copyright">
                    <p>        Изградено от Рида Амайре</p>
                </div>
                <!-- Site Copyright End -->
            </div>
        </div>

    </div>

    <script>
                    //var slideIndex = 0;
                    //showSlides();

                    //function showSlides() {
                    //    var i;
                    //    var slides = document.getElementsByClassName("mySlides");
                    //    var dots = document.getElementsByClassName("dot");
                    //    for (i = 0; i < slides.length; i++) {
                    //       slides[i].style.display = "none";
                    //    }
                    //    slideIndex++;
                    //    if (slideIndex> slides.length) {slideIndex = 1}
                    //    for (i = 0; i < dots.length; i++) {
                    //        dots[i].className = dots[i].className.replace(" active", "");
                    //    }
                    //    slides[slideIndex-1].style.display = "block";
                    //    dots[slideIndex-1].className += " active";
                    //    setTimeout(showSlides, 2000); // Change image every 2 seconds
                    //}
    </script>

</body>
</html>


