<!DOCTYPE html>
<html lang="bg-BG">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body >
    <div class="well">
      <div class="daskalo">
    <div class="">
        <div class="container">
            <div>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              @Html.ActionLink(" ","Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="header-right">
                    <ul class="list-inline">
                        @Html.ActionLink("Начало","Index", "Home", null, new {@class="buttons" })
                        <li class="buttons" title="Header" data-toggle="popover" data-placement="bottom" data-content="Content">За Нас</li>
                        <li class="buttons" title="Header" data-toggle="popover" data-placement="bottom" data-content="Content">Прием</li>
                        <li class="buttons" title="Header" data-toggle="popover" data-placement="bottom" data-content="Content">Проекти</li>
                    </ul>
            </div>
        </div>
        <script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
        </script>
    </div>
    <div class="container body-content">
        <div class="jumbotron">
            <h1>128 СОУ</h1>
            <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
            <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>
        <div class="text-center">
            НОВО! Прием след завършен седми клас. Две паралелки профил "Технологичен" -
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>Getting started</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        </div>
        </div>
          </div>
        <hr />
    </div>
    <div class="well-footer ">
        <div id="footer">
            <div class="clear"></div>

            <div >
                <!-- Footer Menu -->
                <div class="footermenu">
                    <ul id="menu-footer" class="">
                        <li id="menu-item-128" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-128"><a href="https://128sou-sofia.info/%d0%b7%d0%b0-%d0%b7%d1%80%d0%b5%d0%bb%d0%be%d1%81%d1%82%d0%bd%d0%b8%d1%86%d0%b8/">За зрелостници</a></li>
                        <li id="menu-item-129" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-129"><a href="https://128sou-sofia.info/%d0%b2%d0%b0%d0%b6%d0%bd%d0%b8-%d0%b2%d1%80%d1%8a%d0%b7%d0%ba%d0%b8/">Важни връзки</a></li>
                        <li id="menu-item-130" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-130"><a href="https://128sou-sofia.info/%d0%b0%d0%ba%d1%82%d1%83%d0%b0%d0%bb%d0%bd%d0%be/">Актуално</a></li>
                        <li id="menu-item-132" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-132"><a href="https://128sou-sofia.info/%d0%b3%d0%b0%d0%bb%d0%b5%d1%80%d0%b8%d1%8f/">Галерия</a></li>
                        <li id="menu-item-131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-131"><a href="https://128sou-sofia.info/%d0%ba%d0%be%d0%bd%d1%82%d0%b0%d0%ba%d1%82%d0%b8/">Контакти</a></li>
                    </ul>
                </div>
                <!-- Footer Menu End -->
                <!-- Site Copyright -->
                <div class="copyright">
                    <p>        Изградено от Рида Амайре</p>
                </div>
                <!-- Site Copyright End -->
            </div>
        </div>
       
    </div>

    <script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
</body>
</html>
