<!DOCTYPE html>
<html lang="bg-BG">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>128 СОУ "Алберт Айнщайн"</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        p.cvqt {
    color:orange;
    font-size:larger;

    }
        a.cvqt{
            color:orange;
            font-size: 20px;
            text-decoration: none;
        }
    </style>
</head>
<body >
    <div class="well">
      <div class="daskalo">
    <div class="">
        <div class="container">
            <div>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              @Html.ActionLink(" ","Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="header-right">
                    <ul class="list-inline">
                        <li class="collapse navbar" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    @Html.ActionLink("Начало", "Index", "Home", null, new { @class = "dropdown-toggle buttons" })
                                </li>
                            </ul>
                        </li>
                        <li class="collapse navbar" id="bs-example-navbar-collapse-1" style="background: none; border: none; outline: none;" >
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    @Html.ActionLink("За нас", "About", "Home", null, new { @class="dropdown-toggle buttons"})
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("История и традиции", "IstoriaTradicii", "ZaNas", null, new { @class = "" })</li>
                                        <li class="divider"></li>
                                        <li>@Html.ActionLink("Педагогически екип", "PedagogicheskiEkip", "ZaNas", null, new { @class = "" })</li>
                                        <li class="divider"></li>
                                        <li>@Html.ActionLink("Училищна среда", "UchilishtnaSreda", "ZaNas", null, new { @class = "" })</li>
                                        <li class="divider"></li>
                                        <li>@Html.ActionLink("Профил на купувача и други документи", "Profil", "ZaNas", null, new { @class = "" })</li>
                                        <li class="divider"></li>
                                        <li>@Html.ActionLink("Електронен дневник", "ElektronenDnevnik", "ZaNas", null, new { @class = "" })</li>
                                        <li class="divider"></li>
                                        <li>@Html.ActionLink("Училищен живот", "UchilishtenJivot", "ZaNas", null, new { @class = "" })</li>
                                        <li class="divider"></li>
                                        <li>@Html.ActionLink("Наши специални гости", "SpecialniGosti", "ZaNas", null, new { @class = "" })</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="collapse navbar" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    @Html.ActionLink("Прием", "Index", "Priem", null, new { @class = "dropdown-toggle buttons" })
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("В подготвителна група", "PodgotvitelnaGrupa", "Priem", null, new { @class = "" })</li>
                                        <li class="divider"></li>
                                        <li>@Html.ActionLink("В първи клас", "PyrviKlas", "Priem", null, new { @class = "" })</li>
                                        <li class="divider"></li>
                                        <li>@Html.ActionLink("В пети клас", "PetiKlas", "Priem", null, new { @class = "" })</li>
                                        <li class="divider"></li>
                                        <li>@Html.ActionLink("След завършен VII клас", "Sled7miKlas", "Priem", null, new { @class = "" })</li>
                                        <li class="divider"></li>
                                        <li>@Html.ActionLink("След завършен VIII клас", "Sled8miKlas", "Priem", null, new { @class = "" })</li>
                                        @*<li class="divider"></li>*@
                                       
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="collapse navbar" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    @Html.ActionLink("Проекти", "Index", "Project", null, new { @class = "dropdown-toggle buttons" })
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("УСПЕХ", "Uspeh", "Project", null, new { @class=""})</li>
                                        <li class="divider"></li>
                                        <li>@Html.ActionLink("TEA GLOBAL 2013", "TeaGlobal", "Project", null, new { @class = "" })</li>
                                        <li class="divider"></li>
                                        <li>@Html.ActionLink("TALIS", "Talis", "Project", null, new { @class = "" })</li>
                                        <li class="divider"></li>
                                        <li>@Html.ActionLink("Фортисимо клас", "FortisimoKlas", "Project", null, new { @class = "" })</li>
                                        <li class="divider"></li>
                                        <li>@Html.ActionLink("Целодневно обучение", "CelodnevnoObuchenie", "Project", null, new { @class = "" })</li>
                                        <li class="divider"></li>
                                        <li>@Html.ActionLink("Научи се да караш ски", "Ski", "Project", null, new { @class = "" })</li>
                                        <li class="divider"></li>
                                        <li>@Html.ActionLink("Млад велосипедист", "MladVelosipedist", "Project", null, new { @class = "" })</li>
                                        <li class="divider"></li>
                                        <li>@Html.ActionLink("Ученически евроклуб", "UchenicheskiEvroKlub", "Project", null, new { @class = "" })</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
            </div>
        </div>
        <script>
            $('ul.nav li.dropdown').hover(function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(100).fadeIn(50);
            }, function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(100).fadeOut(50);
            });
        </script>
    </div>
    <div class="container body-content">
        <div class="container">
            <br>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">

                    <div class="item">
                        
                       <a href="https://www.facebook.com/"><img src="http://128sou-sofia.info/wp-content/uploads/2013/03/pic1-800x344.jpg" alt="Chania" width="960" height="345"></a> 
                        <div class="carousel-caption">
                            <h3>За Нас</h3>
                            <p>Нашето училище отваря врати за първи път на 17.02.1975 г. В началото учителският колектив с директор Мата Стайкова се състои от 22 педагози, обучаващи около 560 ученика от начален и среден курс. От м. септември 1984 г. училището е обявено за ЕСПУ – с две паралелки в 9 клас. </p>
                        </div>
                    </div>

                    <div class="item active">
                        <a href="https://www.facebook.com/"><img src="http://128sou-sofia.info/wp-content/uploads/2013/03/picsliderproekti-e1364378647398-820x344.jpg" alt="Chania" width="960" height="345"></a>
                        <div class="carousel-caption">
                            <h3>Проекти</h3>
                        </div>
                    </div>

                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="text-center">
            НОВО! Прием след завършен седми клас. Две паралелки профил "Технологичен" -
           <p class="cvqt"> Защита на информацията </p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="http://128sou-sofia.info/wp-content/uploads/2016/05/20160419_180050-160x160.jpg" class="img-responsive" alt="Cinque Terre" width="172" height="172"> 
            </div>
            <div class="col-sm-3" style="font-size:20px">
              @Html.ActionLink("Ученици от 128 СОУ „Алберт Айнщайн” печелят медал на състезание за есе на английски език в Дубай (видео)", "EseAngliiskiEzikDubai", "PosledniNovini", null, new { @class = "actionLinks" })
            </div>
                <div class="col-sm-5">
                    <div class="panel panel-default" style="width: 200px; float:right">
                        <div class="panel-body" style="padding:12px;"><img src="http://128sou-sofia.info/wp-content/uploads/2016/02/128_SpecialniGosti.jpg" class="img-thumbnail" alt="Cinque Terre" width="200" height="285"></div>
                    </div>
                </div>
            <div class="col-md-4">
                <video width="172" height="172" controls>
                    <source src="http://128sou-sofia.info/wp-content/uploads/2016/03/Zaedno.mp4?_=1" type="video/mp4">
                   
                </video>
            </div>
            <div class="col-md-3" style="font-size:20px">
                @Html.ActionLink("Заедно можем повече!", "ZaednoMojemPoveche", "PosledniNovini", null, new { @class = "actionLinks" })
            </div>
            <div class="col-sm-5">
                <div class="panel panel-default "style="width: 200px; float:right">
                    <div class="panel-body" style="padding:12px;"><img src="http://128sou-sofia.info/wp-content/uploads/2016/02/128_UchilishtenJivot.jpg" class="img-thumbnail" alt="" width="200" height="285"></div>
                </div>
            </div>
            
        </div>
        </div>
          </div>
        <hr />
    </div>
    <div class="well-footer ">
        <div id="footer">
            <div class="clear"></div>

            <div >
                <!-- Footer Menu -->
                <div class="footermenu">
                    <ul id="menu-footer" class="">
                        <li id="menu-item-128" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-128"><a href="https://128sou-sofia.info/%d0%b7%d0%b0-%d0%b7%d1%80%d0%b5%d0%bb%d0%be%d1%81%d1%82%d0%bd%d0%b8%d1%86%d0%b8/">За зрелостници</a></li>
                        <li id="menu-item-129" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-129"><a href="https://128sou-sofia.info/%d0%b2%d0%b0%d0%b6%d0%bd%d0%b8-%d0%b2%d1%80%d1%8a%d0%b7%d0%ba%d0%b8/">Важни връзки</a></li>
                        <li id="menu-item-130" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-130"><a href="https://128sou-sofia.info/%d0%b0%d0%ba%d1%82%d1%83%d0%b0%d0%bb%d0%bd%d0%be/">Актуално</a></li>
                        <li id="menu-item-132" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-132"><a href="https://128sou-sofia.info/%d0%b3%d0%b0%d0%bb%d0%b5%d1%80%d0%b8%d1%8f/">Галерия</a></li>
                        <li id="menu-item-131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-131"><a href="https://128sou-sofia.info/%d0%ba%d0%be%d0%bd%d1%82%d0%b0%d0%ba%d1%82%d0%b8/">Контакти</a></li>
                    </ul>
                </div>
                <!-- Footer Menu End -->
                <!-- Site Copyright -->
                <div class="copyright">
                    <p>        Изградено от Рида Амайре</p>
                </div>
                <!-- Site Copyright End -->
            </div>
        </div>
       
    </div>

    <script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
    </script>

    
    
</body>
</html>