<!DOCTYPE html>
<html lang="bg-BG">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>История и традиции</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        p.cvqt {
            color: orange;
            font-size: larger;
        }

        a.cvqt {
            color: orange;
            font-size: 20px;
            text-decoration: none;
        }
    </style>
</head>
<body style="color:gray">
    <div class="well" style="padding:5px;">
        <div class="daskalo">
            <div class="">
                <div class="container">
                    <div>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink(" ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="header-right">
                        <ul class="list-inline" style="margin-top:20px;">
                            <li class="collapse navbar" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        @Html.ActionLink("Начало", "Index", "Home", null, new { @class = "dropdown-toggle buttons" })
                                    </li>
                                </ul>
                            </li>
                            <li class="collapse navbar" id="bs-example-navbar-collapse-1" style="background: none; border: none; outline: none;">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        @Html.ActionLink("За нас", "About", "Home", null, new { @class = "dropdown-toggle buttons" })
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("История и традиции", "IstoriaTradicii", "ZaNas", null, new { @class = "" })</li>
                                            <li class="divider"></li>
                                            <li>@Html.ActionLink("Педагогически екип", "PedagogicheskiEkip", "ZaNas", null, new { @class = "" })</li>
                                            <li class="divider"></li>
                                            <li>@Html.ActionLink("Училищна среда", "UchilishtnaSreda", "ZaNas", null, new { @class = "" })</li>
                                            <li class="divider"></li>
                                            <li>@Html.ActionLink("Профил на купувача и други документи", "Profil", "ZaNas", null, new { @class = "" })</li>
                                            <li class="divider"></li>
                                            <li>@Html.ActionLink("Електронен дневник", "ElektronenDnevnik", "ZaNas", null, new { @class = "" })</li>
                                            <li class="divider"></li>
                                            <li>@Html.ActionLink("Училищен живот", "UchilishtenJivot", "ZaNas", null, new { @class = "" })</li>
                                            <li class="divider"></li>
                                            <li>@Html.ActionLink("Наши специални гости", "SpecialniGosti", "ZaNas", null, new { @class = "" })</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="collapse navbar" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        @Html.ActionLink("Прием", "Index", "Priem", null, new { @class = "dropdown-toggle buttons" })
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("В подготвителна група", "PodgotvitelnaGrupa", "Priem", null, new { @class = "" })</li>
                                            <li class="divider"></li>
                                            <li>@Html.ActionLink("В първи клас", "PyrviKlas", "Priem", null, new { @class = "" })</li>
                                            <li class="divider"></li>
                                            <li>@Html.ActionLink("В пети клас", "PetiKlas", "Priem", null, new { @class = "" })</li>
                                            <li class="divider"></li>
                                            <li>@Html.ActionLink("След завършен VII клас", "Sled7miKlas", "Priem", null, new { @class = "" })</li>
                                            <li class="divider"></li>
                                            <li>@Html.ActionLink("След завършен VIII клас", "Sled8miKlas", "Priem", null, new { @class = "" })</li>
                                            @*<li class="divider"></li>*@

                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="collapse navbar" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        @Html.ActionLink("Проекти", "Index", "Project", null, new { @class = "dropdown-toggle buttons" })
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("УСПЕХ", "Uspeh", "Project", null)</li>
                                            <li class="divider"></li>
                                            <li>@Html.ActionLink("TEA GLOBAL 2013", "TeaGlobal", "Project", null, new { @class = "" })</li>
                                            <li class="divider"></li>
                                            <li>@Html.ActionLink("TALIS", "Talis", "Project", null, new { @class = "" })</li>
                                            <li class="divider"></li>
                                            <li>@Html.ActionLink("Фортисимо клас", "FortisimoKlas", "Project", null, new { @class = "" })</li>
                                            <li class="divider"></li>
                                            <li>@Html.ActionLink("Целодневно обучение", "CelodnevnoObuchenie", "Project", null, new { @class = "" })</li>
                                            <li class="divider"></li>
                                            <li>@Html.ActionLink("Научи се да караш ски", "Ski", "Project", null, new { @class = "" })</li>
                                            <li class="divider"></li>
                                            <li>@Html.ActionLink("Млад велосипедист", "MladVelosipedist", "Project", null, new { @class = "" })</li>
                                            <li class="divider"></li>
                                            <li>@Html.ActionLink("Ученически евроклуб", "UchenicheskiEvroKlub", "Project", null, new { @class = "" })</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <script>
            $('ul.nav li.dropdown').hover(function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(100).fadeIn(50);
            }, function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(100).fadeOut(50);
            });
                </script>
            </div>
            <!-- Page Heading Start -->

            <div id="page-heading" style="position:center; width:auto;">
                <h3 class="heading-text" style="width:300px" >
                    История и традиции
                </h3>
            </div>
            <!-- Page Heading End -->
            <!-- Main Content Start
                <img src="http://128sou-sofia.info/wp-content/uploads/2013/03/%D0%B7%D0%B0-%D0%BD%D0%B0%D1%81-128%D0%A1%D0%9E%D0%A3.jpg" width="201" height="217" /> -->
            <div class="maincontent" style="margin-left:20px;">
                <p style="padding-top:20px; line-height: 21px; font-size:14px; vertical-align:baseline; display:inline-block; color:grey;">
                    <img src="http://128sou-sofia.info/wp-content/uploads/2013/03/Plakat-A.-Einstein.jpg" width="631" height="486" />
                    <div style="float:left; width:201px; height:217px; margin:10px;"><img src="http://128sou-sofia.info/wp-content/uploads/2013/03/%D0%B7%D0%B0-%D0%BD%D0%B0%D1%81-128%D0%A1%D0%9E%D0%A3.jpg" /></div>
                    Нашето училище отваря врати за първи път на 17.02.1975 г. В началото учителският колектив с директор Мата Стайкова се състои от 22 педагози, обучаващи около 560 ученика от начален и среден курс. От м. септември 1984 г. училището е обявено за ЕСПУ – с две паралелки в 9 клас. Постепенно броят на учителите нараства до 60 души, а учениците са над 1000. В гимназиален курс започва осъществяването на профилирано обучение в областта на хуманитарните и природоматематическите науки, както и на технологиите.
                    <br />
                    <br />
                    От м. Септември 1989 г. новият директор на училището е г-жа Емилия Илиева. Нейните усилия и амбиции са насочени към съхраняване и развитие на заложените традиции в живота на 128–мо училище, разширяване на чуждо езиковото обучение, обогатяване и модернизация на материално-техническата база. Така за няколко години са открити – интерактивна зала, видео система и телефонна връзка с всички класни стаи, актова зала, фонетичен и компютърен кабинет.
                    <br />
                    <br />
                    От есента на 1992 г. се осъществява идеята за утвърждаване на стопански профил в училището със специализация по икономика и мениджмънт в горен курс, като се изучават – английски език, стенография, компютърна грамотност и др. През 1996 г. се въвежда пред професионална подготовка по специалност “Митническо комисионерство” с изучаване на основи на пазарната икономика и мениджмънт, основи на правото, счетоводство, стокознание, митническа политика и международни плащания. От 1998 г. започва обучение по специалност “Организатор на среден и дребен бизнес”, която дава възможност за получаване и на сертификат за професионална квалификация на английски език.
                    <br />
                    <br />
                    През учебната 2000/2001 г. чрез Националния изпит-тест след 7 клас се формират 4 паралелки с изучаване на чужди езици и информатика. Въвежда се и ранно чуждо езиково обучение.
                    <br />
                    <br />
                    Същевременно се създадоха три компютърни кабинета, а през 2005 г. в чест на 30-годишния юбилей на училището бе открит и мултимедиен кабинет.
                    <br />
                    <br />
                    В последните години се оформи цялостния облик на нашето училище: прием на ученици в предучилищна група, въвеждане на целодневно обучение от първи до четвърти клас,а след завършен седми клас- с профилирано обучение по информатика, информационни технологии и стопански мениджмънт.
                    <br />
                    <br />
                    Това осигурява съвременно и перспективно образование на учениците от 128 СОУ “Алберт Айнщайн”, голяма част от които продължават обучението си във висши учебни заведения.
                    <br />
                    <br />
                    За своята 38-годишна история нашето училище е подготвило хиляди възпитаници, намерили реализация на своите знания и умения в различни направления на общественото ни развитие.
                    <br />
                    <br />
                </p>
            </div>
            <!-- Main Content End -->
            <!-- Side Content Start -->
            <div class="sidebarwe">
                <div class="sidebar">
                    <div class="sidebartop"></div><div class="sidebarmain">
                        <div id="recent-posts-4" class="sidebarcontent widget_recent_entries">
                            <h4 class="sidebarheading">За нас</h4><hr>
                            <ul style="list-style: none; font-size:smaller; border-color:black;">
                                <li class="actionLink">
                                    @Html.ActionLink("История и традиции", "IstoriaTradicii", "ZaNas", null, new { @class = "actionLinks" }) &gt;
                                </li>
                                <hr class="sidebar-divider">
                                <li class="actionLink">
                                    @Html.ActionLink("Педагогически екип", "PedagogicheskiEkip", "ZaNas", null, new { @class = "actionLinks" }) &gt;
                                </li>
                                <hr class="sidebar-divider">
                                <li class="actionLink">
                                    @Html.ActionLink("Училищна среда", "UchilishtnaSreda", "ZaNas", null, new { @class = "actionLinks" }) &gt;
                                </li>
                                <hr class="sidebar-divider">
                                <li class="actionLink">
                                    @Html.ActionLink("Профил на купувача и други документи", "Profil", "ZaNas", null, new { @class = "actionLinks" }) &gt;
                                </li>
                                <hr class="sidebar-divider">
                                <li class="actionLink">
                                    @Html.ActionLink("Училищен живот", "UchilishtenJivot", "ZaNas", null, new { @class = "actionLinks" }) &gt;
                                </li>
                                <hr class="sidebar-divider">
                                <li class="actionLink">
                                    @Html.ActionLink("Наши специални гости", "SpecialniGosti", "ZaNas", null, new { @class = "actionLinks" }) &gt;
                                </li>
                                <hr class="sidebar-divider">
                                <li class="actionLink">
                                    @Html.ActionLink("Електронен дневник", "ElektronenDnevnik", "ZaNas", null, new { @class = "actionLinks" }) &gt;
                                </li>
                                <hr class="sidebar-divider">
                                <li class="actionLink">
                                    @Html.ActionLink("TALIS", "Talis", "Project", null, new { @class = "actionLinks" }) &gt;
                                </li>
                                <hr class="sidebar-divider">
                            </ul>
                        </div><br>
                    </div><div class="sidebarbottom"></div><div class="sidebarmain">
    <div id="recent-posts-4" class="sidebarcontent widget_recent_entries">
        <h4 class="sidebarheading">Последни новини</h4><hr>
        <ul style="list-style: none; font-size:smaller;">
            <li class="actionLink">
                @Html.ActionLink("Ученици от 128 СОУ „Алберт Айнщайн” печелят медал на състезание за есе на английски език в Дубай (видео)", "EseAngliiskiEzikDubai", "PosledniNovini", null, new { @class = "actionLinks" }) &gt;
            </li>
            <hr class="sidebar-divider">
            <li class="actionLink">
                @Html.ActionLink("Заедно можем повече", "ZaednoMojemPoveche", "PosledniNovini", null, new { @class = "actionLinks" }) &gt;
            </li>
            <hr class="sidebar-divider">
            <li class="actionLink">
                @Html.ActionLink("Цялостно обновяване на класните стаи и учебни кабинети", " KlasniStaiObnovqvane", "PosledniNovini", null, new { @class = "actionLinks" }) &gt;
            </li>
            <hr class="sidebar-divider">
            <li class="actionLink">
                @Html.ActionLink("Златен медал в училището!", "ZlatenMedal", "PosledniNovini", null, new { @class = "actionLinks" }) &gt;
            </li>
            <hr class="sidebar-divider">
            <li class="actionLink">
                @Html.ActionLink("Обръщение на г-н Юлиян Плачков, директор на 128 СОУ „Алберт Айнщайн“, по случай началото на учебната 2013/2014 г.", "ObryshtenieNaGnPlachkov", "PosledniNovini", null, new { @class = "actionLinks" }) &gt;
            </li>
            <hr class="sidebar-divider">
        </ul>
    </div>
</div>
                </div>
            </div>
            <!-- Side Content End-->
        </div>
        <hr />
    </div>
    <div class="well-footer ">
        <div id="footer">
            <div class="clear"></div>

            <div>
                <!-- Footer Menu -->
                <div class="footermenu">
                    <ul id="menu-footer" class="">
                        <li id="menu-item-128" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-128">@Html.ActionLink("За зрелостници", "ZaZrelostnici", "Other", null, new { })</li>
                        <li id="menu-item-129" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-129">@Html.ActionLink("Важни връзки", "VajniVryzki", "Other", null, new { })</li>
                        <li id="menu-item-130" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-130">@Html.ActionLink("Актуално", "Aktualno", "Other", null, new { })</li>
                        <li id="menu-item-132" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-132">@Html.ActionLink("Галерия", "Galeriq", "Other", null, new { })</li>
                        <li id="menu-item-131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-131">@Html.ActionLink("Контакти", "Kontakti", "Other", null, new { })</li>
                    </ul>
                </div>
                <!-- Footer Menu End -->
                <!-- Site Copyright -->
                <div class="copyright">
                    <p>        Изградено от Рида Амайре</p>
                </div>
                <!-- Site Copyright End -->
            </div>
        </div>

    </div>

    <script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
    </script>

</body>
</html>
